<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>NodeJS</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
      <h2>留言系统<a class="btn btn-success pull-right" href="/post" role="button">发布留言</a></h2>
      <hr />
      <ul class="list-group">
        {{ each comments }}
        <li class="list-group-item">{{ $value.email }}：{{ $value.message }}<span class="pull-right">{{ $value.dateTime }}</span></li>
        {{ /each }}
      </ul>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
  </div>
</body>

</html>
