<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>NodeJS</title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">

  <head>

    <body>
      <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
          <h2>发表留言<a class="btn btn-primary pull-right" href="/" role="button">返回首页</a></h2>
          <hr />
          <!--
            表单提交分两种行为：
            * 默认提交行为（同步）
            * 异步提交（需要JS代码控制）

            action：表单提交地址，即URL地址
            method：请求方法
           -->
          <form method="post" action="/send/post">
            <div class="form-group">
              <label for="input_emaail">Email address</label>
              <input type="email" class="form-control" id="input_email" name="email" placeholder="Email" required minlength="5" maxlength="50">
            </div>
            <div class="form-group">
              <label for="textarea_message">Message content</label>
              <textarea class="form-control" id="textarea_message" name="message" placeholder="Message" cols="30" rows="10" required minlength="5" maxlength="50"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
      </div>
    </body>

</html>
